.container { 
	position:relative; 
	padding:0 0 0 55px; 
	font-family: 'Montserrat';
	}
#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:50px;
	}

#header { border:1px solid #000;
    margin:0 0 5px 0;
	text-align: center;
	}
.socialmediaicons {
	float: right;
}
#content { border:1px solid #000;
    margin:5px 0 5px 0;
	}
#footer { border:1px solid #000;
    margin:5px 0 0 0;
	text-align: center;
	}
